//@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');


body {
    background: #81ecec;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    height: 100vh;
}
section {
    background: #81ecec;
}
.blue {
    background: #81ecec;
}

.button-start {
    padding-top: 30px;
}

#newGame {
    color: #6c5ce7;
}

.center {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}